//1.0 Fonts
//2.0 Vars
//3.0 Functions
//4.0 Global Styles
//5.0 Header
//6.0 Footer
//7.0 Home
//8.0 About
//9.0 Services
//10.0 Service Page
//11.0 Use cases
//12.0 Locaction
//13.0 Location Page
//14.0 Contact

//1.0 Content Fonts
@import "https://fonts.googleapis.com/css?family=Hind+Madurai:400,700&display=swap"
@import "https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap"

//2.0 Content Vars
font-title = 'Hind Madurai', sans-serif
font-text = 'Noto Sans', 'Helvetica', Arial, sans-serif
color-title-brand = #050d3d
color-text-brand = #666666
color-blue-brand = #0864b5
color-bluelite-brand = #24b7db
color-purple-brand = #5f1394
color-green-brand = #37c580
instagram-color = #DD2A7B
facebook-color = #3b5998
twitter-color = #E1E8ED

//3.0 Content Functions
isFnTransition(ms)
    transition: all ms linear
    -webkit-transition: all ms linear
    -moz-transition: all ms linear

isFnFullScreen(pos)
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: pos

isBubbleButton(bg, cl, rad)
    background: bg
    color: cl
    border-radius: rad
    padding: 15px
    text-align: center
    font-family: font-title
    font-weight: bold
    isFnTransition(0.3s)

    i
        margin-left: 10px
        color: cl
    
    &:hover
        box-shadow: 0 5px 15px rgba(0,0,0,0.3)

isFnFullOverviewContent() 
    text-align: center

    h1, h2, h3, h4, h5
        display: block
    
    p
        font-size: 16px
        color: #666
        width: 90%
        display: block
        margin: 0 auto 30px
        line-height: 26px

isFnCardBox(br, clsh)
    padding: 20px
    border-radius: br
    isFnTransition(0.3s)

    &:hover
        box-shadow: 0 5px 15px clsh

//4.0 Content Global Styles
body
    background: #fff
    font-family: font-text
    font-size: 14px
    color: #000

    h1, h2, h3, h4, h5
        font-family: font-title
        color: color-title-brand
        font-weight: bold
        margin-bottom: 20px
        letter-spacing: 1px
    
    h1
        font-size: 36px
    h2
        font-size: 30px
    h3
        font-size: 24px
    h4
        font-size: 20px
    h5
        font-size: 16px
    
    p
        font-family: 14px
        color: #000
    
    p.is-pr-medium
        font-size: 16px
        line-height: 24px
        margin-bottom: 15px

    p.is-pr-big
        font-size: 18px
        line-height: 28px
        margin-bottom: 20px

    .is-img-small,
    .is-img-medium,
    .is-img-big,
    .is-img-full
        display: block

    .is-img-small
        max-width: 25%
    .is-img-medium
        max-width: 50%
    .is-img-big
        max-width: 75%
    .is-img-full
        max-width: 100%
    .is-img-centered
        margin: 0 auto
    .is-img-spaced
        margin: 30px auto

    form
        fieldset 
            padding: 0
            box-sizing: border-box
            margin: 0

            label   
                display: block
                margin-bottom: 3px
                font-size: 13px
                color: #666
                padding-left: 20px
            input,
            select,
            textarea
                box-sizing: border-box
                padding: 10px 20px
                outline: 0
                border-radius: 25px
                width: 100%
                border: 2px solid rgba(0,0,0,0.1)
                color: color-title-brand
                font-size: 16px
                resize: none
                isFnTransition(0.3s)

                &:focus
                    border: 2px solid color-green-brand
            
            button
                border: 0
                font-size: 16px
                letter-spacing: 1px
                display: block
                width: 200px
                cursor: pointer
                isBubbleButton(color-green-brand, #fff, 25px)

                i
                    margin-left: 10px

                &:hover
                    color: #fff
    
    .is-view
        margin-top: 50px

//5.0 Content Header
.is-top-header
    background: color-bluelite-brand
    padding: 5px 0
    color: #FFF

    .is-lang
        a
            color: inherit
            line-height: 50px
        
            img,
            span 
                float: left
            img
                width: 16px
                margin: 15px 10px 0 0
            span 
                margin-top: -3px
            
            &:hover
                span 
                    text-decoration: underline
    
    .is-contact
        strong,
        a
            display: block
            color: #fff
        strong
            color: color-title-brand
            
            i
                margin-right: 3px
    
    .is-social
        text-align: center 

        a
            display: inline-block
            margin: 0 8px
            line-height: 50px
            font-size: 20px
            isFnTransition(0.3s)

        a.is-facebook
            color: facebook-color
        a.is-twitter
            color: twitter-color
        a.is-instagram
            color: instagram-color

.is-header
    background: #FFF
    padding: 30px 0
    box-shadow: 0 5px 15px rgba(0,0,0,0.05)

    .is-brand
        background: none
        img 
            display: block
            margin: 0
            width: 250px
    
    .is-menu
        font-family: font-title
        
        ul
            text-align: right 
         
            li
                position: relative
                display: inline-block
                font-size: 18px
                font-weight: bold
        
                a
                    display: block
                    padding: 10px
                    color: color-title-brand
                    isFnTransition(0.3s)
        
                    &:hover
                        color: color-green-brand
        
                ul.is-level
                    position: absolute
                    top: 40px
                    left: 0
                    display: none
                    opacity: 0
                    width: 250px
                    text-align: left 
                    background: #fff
                    padding: 10px
                    border-radius: 0 0 5px 5px
                    box-shadow: 0 5px 15px rgba(0,0,0,0.05)
                    z-index: 9995
                    isFnTransition(0.5s)
        
                    li
                        font-size: 16px
                        font-weight: normal
                        display: block
        
                        a
                            color: color-text-brand
                            padding: 5px

                            i
                                margin-right: 3px
                                font-weight: bold
        
                            &:hover
                                color: color-blue-brand
            
                &:hover
                    ul.is-level
                        display: block
                        opacity: 1

//6.0 Content Footer
.is-footer
    background: color-purple-brand
    padding: 30px 0

    .is-locations
        border-bottom: 1px solid rgba(255,255,255,0.3)
        padding-bottom: 20px
        margin-bottom: 30px

        .column
            margin-bottom: 10px

            i
                color: color-bluelite-brand
                margin-right: 3px
                display: none
            
            a
                color: #fff

                &:hover
                    text-decoration: underline
    
    .is-brand
        img
            display: block
            max-width: 75%
            margin-top: 30px
    
    .is-by
        text-align: right 

        small 
            display: block
            margin-top: 50px
    
    strong
        color: color-green-brand
        display: block
        margin-bottom: 10px
    
    ul
        margin-bottom: 20px
    
        li
            display: block
            margin-bottom: 10px
            font-size: 13px
            float: left
            width: 50%
            
            i
                margin-right: 5px
            
            a
                color: #fff

                &:hover
                    text-decoration: underline
    
    .is-contact
        .is-item
            background: rgba(0,0,0,0.05)
            border-radius: 10px
            padding: 20px
            margin-bottom: 20px

            strong
                margin-bottom: 0

            a
                color: #ffffff
                font-size: 16px
    
    .is-social
        margin-right: 10px
        font-size: 18px
    
    .is-facebook
        color: facebook-color
    .is-twitter
        color: twitter-color
    .is-instagram
        color: instagram-color

//7.0 Content Home
.is-view-home
    .is-comp-slider
        height: 450px
        margin-bottom: 50px

        //Overwrite slider properties
        .nivo-caption
            top: 25%
            left: 5%
            width: 45%
            background: none

            h3
                color: color-title-brand
                font-size: 38px
                line-height: 50px

                span    
                    display: block
            
            p
                color: #ffffff
                font-size: 20px
                line-height: 30px
    
    .is-overview
        margin-bottom: 50px
        isFnFullOverviewContent()

    .is-card
        div
            min-height: 180px
            isFnCardBox(10px, rgba(0,0,0,0.09))

            i
                color: color-green-brand
            a
                color: inherit
    
    .is-we-contact
        margin-top: 50px
        margin-bottom: 50px
        background: color-blue-brand
        padding-top: 50px
        text-align: center

        .is-full
            background: url('/assets/img/worksapace-ilustration.png') no-repeat center bottom
        
        h3
            color: #fff
        
        p
            color: color-title-brand
            font-size: 18px
            text-align: center
        
        .is-custom
            width: 65%
            margin: 50px auto 250px
            padding: 50px 0

            input,
            button
                box-sizing: border-box
                float: left
                padding: 15px
                outline: 0
                border: none
                font-size: 16px
                font-weight: bold
                background: rgba(0,0,0,0.3)
                text-align: center
                color: #fff
            input:first-of-type
                width: 50%
                border-right: 1px solid rgba(0,0,0,0.4)
            input:last-of-type
                width: 30%
            .is-first
                border-radius: 25px 0 0 25px
            .is-last
                width: 20%
                border-radius: 0 25px 25px 0
                background: color-green-brand
                font-family: font-title
                cursor: pointer
                i
                    margin-right: 5px
    
    .is-clients
        background: rgba(0,0,0,0.03)
        padding: 50px 0
        margin-top: 50px

        h4
            display: block
            text-align: center
        
        img
            opacity: .5
            isFnTransition(0.3s)

            &:hover
                opacity: 1
    
    .is-locations
        margin-top: 50px
        margin-bottom: 50px

        ul
            margin-top: 30px

            li
                float: left
                width: 25%
                margin-bottom: 10px

                a
                    display: block
                    color: color-title-brand
                    font-weight: bold

                    i
                        color: color-green-brand
                        margin-right: 3px
                    
                    &:hover
                        text-decoration: underline

//8.0 Content About
.is-view-about
    .is-vision
        margin-top: 75px
        margin-bottom: 75px
        padding-top: 50px
        padding-bottom: 50px
        background: color-green-brand
        color: #fff

        h2,
        p
            text-align: center
        
        p
            color: #fff
    
    .is-card
        margin-bottom: 50px

        div
            isFnCardBox(10px, rgba(0,0,0,0.09))

            i
                color: color-green-brand
                font-size: 18px
            a
                color: inherit

//9.0 Content Services
.is-view-services
    margin-bottom: 75px

    h1
        margin-top: 100px

        span 
            display: block

    .is-card
        margin-bottom: 30px

        div
            background: rgba(0,0,0,0.02)
            min-height: 600px
            isFnCardBox(10px, rgba(0,0,0,0.09))

            h2
                margin-top: 50px
                display: block
                font-size: 24px

                a
                    color: inherit

                    &:hover
                        text-decoration: underline
            
            p
                font-size: 16px
                line-height: 24px
                margin-bottom: 30px
            
            .is-link
                color: #666666

                i
                    margin-left: 10px

                &:hover
                    color: #000

            &:hover
                box-shadow: 0 10px 15px rgba(0,0,0,0.2)

        .is-blue
            background: color-blue-brand
        .is-bluelite
            background: color-bluelite-brand
        .is-purple
            background: color-purple-brand
        .is-green
            background: color-green-brand

//10.0 Content Service Detail
.is-view-servicedetail
    .is-header-service
        padding: 50px 0
        margin-bottom: 75px
        background: url('/assets/img/pattern-bg.jpg') repeat

        h1
            margin-bottom: 0
        
        .is-bread
            margin-bottom: 50px
            color: color-title-brand

            a
                color: inherit

                &:hover
                    text-decoration: underline
            
            i
                margin: 0 10px

            span
                color: #fff
        
        p
            color: #fff
    
    .is-listed
        margin-top: 75px
        margin-bottom: 100px

        h3
            margin-left: 20px

        .is-item
            margin-bottom: 10px
            padding: 20px
            border-radius: 10px
            isFnTransition(0.3s)

            i
                color: color-green-brand
                margin-right: 5px
            
            h4
                margin-bottom: 5px

            &:hover
                box-shadow: 0 5px 15px rgba(0,0,0,0.08)
        
        .is-green
            background: color-green-brand
            border-radius: 10px
            padding: 20px 0
            margin-top: -20px
            box-shadow: 0 10px 15px rgba(0,0,0,0.2)
            margin-bottom: 50px

            ul
                margin-left: 20px

                li
                    float: left
                    width: 33.33%
                    margin-bottom: 10px
                    font-size: 16px

                    a
                        color: color-title-brand

                        i
                            color: #fff
                            margin-right: 5px
                            font-size: 14px
                        
                        &:hover
                            text-decoration: underline
    
    .is-steps
        background: rgba(0,0,0,0.05)
        padding: 50px 0


//11.O Content Clients
.is-view-clients
    .is-tabs-clients
        margin-top: 75px
        margin-bottom: 75px

        .is-tabs
            a
                background: color-green-brand
                color: #fff
                font-size: 16px
                padding: 10px 20px
                border-radius: 25px
                width: 230px
                display: block
                text-align: center
                margin: 0 auto
                isFnTransition(0.3s)

                i
                    margin-right: 5px
                    color: color-title-brand
                
            a:hover,
            .is-pushed
                background: color-blue-brand
                box-shadow: 0 5px 15px rgba(0,0,0,0.3)
        
        .is-body
            h2
                font-size: 20px
                margin-bottom: 0
            
            a
                color: #666
                
                &:hover
                    color: color-title-brand
                    text-decoration: underline


//12.0 Content Locations
.is-view-locations
    .is-cities
        background: rgba(0,0,0,0.02)
        padding: 50px 0
        margin-top: 75px

        .column
            margin-bottom: 30px

        h2
            font-size: 26px

            a
                color: inherit

                &:hover
                    color: color-green-brand
        
        ul
            li
                display: block
                margin-bottom: 5px

                a
                    color: color-title-brand

                    i
                        color: color-blue-brand
                        margin-right: 5px
                    
                    &:hover
                        text-decoration: underline


//13.0 Content Location Page
.is-view-city
    .is-overview
        h1
            margin-bottom: 0
        
        .is-bread
            margin-bottom: 50px
            color: color-title-brand

            a
                color: inherit

                &:hover
                    text-decoration: underline
            
            i
                margin: 0 10px

            span
                color: color-blue-brand


//14.0 Content Contact
.is-view-contact
    margin-bottom: 50px

    .is-contact
        margin-top: 50px
        background: rgba(0,0,0,0.03)
        padding: 50px 0

        strong
            font-size: 20px
            display: block
            margin-bottom: 10px

            i
                color: color-green-brand
                margin-right: 5px
        
        p,
        a,
        span 
            font-size: 16px
            color: color-title-brand
        
        a:hover
            text-decoration: underline
    
    iframe 
        height 500px
        margin-bottom: 50px
    
    form
        margin-top: 30px
    
    .is-questions
        box-shadow: 0 10px 15px rgba(0,0,0,0.2)
        border-radius: 10px

        .is-question
            position: relative
            background: rgba(0,0,0,0.05)
            padding: 10px
            font-size: 16px
            cursor: pointer
            border-bottom: 1px solid rgba(0,0,0,0.1)
            isFnTransition(0.3s)

            i
                position: absolute
                top: 15px
                right: 20px

            &:hover
                background: rgba(0,0,0,0.08)

        .is-answer
            padding: 20px 10px
            display: none
        
        .is-default
            display: block


//RESPONSIVE RULES
//Widescreen
//@media only screen and (min-width: 1216px) and (max-width: 1407px) { }
//Desktop
//@media only screen and (min-width: 1024px) and (max-width: 1215px) { }
//Tablet
//@media only screen and (min-width: 769px) and (max-width: 1023px) {}
//Mobile
//@media only screen and (max-width: 768px) { }